body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f7;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0px;
}
.inputDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: auto;
    min-height: 200px;
    padding: 20px 20px;
    width: 30%;
    border-radius: 10px;
    background-color: #d7d6d6;
    box-shadow: 10px 8px 10px rgba(0,0,0,0.15);
}
.inputDiv h1{
    color: rgb(81, 80, 80);
    font-family: Calibri;
    font-size: 45px;
    font-weight: bold;
}
.inputDiv h2{
    color: rgb(130, 128, 128);
    font-family: Calibri;
    font-size: 15px;
    font-weight: bold;
}
input[type="text"]{
    padding: 10px 20px;
    height: auto;
    width: 70%;
    border-radius: 10px;
    border: none;
    transition: width 0.2s ease-in-out;
    font-family: Calibri;
}
input[type="text"]:focus{
    width: 75%;
}
input[type="submit"]{
    width: 40%;
    height: auto;
    padding: 10px 20px;
    background-color: rgb(100, 159, 11);
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-size: 27px;
    font-family: Calibri;
    transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
    border: none;
}
input[type="submit"]:hover{
    transform: scale(1.1);
    background-color: rgb(64, 102, 8);
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: auto;
    width: 70%;
    border-radius: 10px;
    border: none;
    transition: width 0.2s ease-in-out;
    font-family: Calibri;
}